#about {
  color: $white-color;
  background-color: $gold-color;
  @include center-text;

  h2 {
    font-family: 'Cinzel', serif;
    @include uppercase;
    font-size: 2.75rem;
  }

  h4 {
    padding: 2rem;
    font-weight: 200;
    font-style: italic;
  }
}
