#projects {
  color: $black-color;
  background-color: $white-color;
  @include center-text;
  h2 {
    font-family: 'Cinzel', serif;
    @include space-inside($top: 1.5rem, $bottom: 1.5rem);
    @include uppercase;
    font-size: 2.45rem;

    @media(min-width: 1024px){
      font-size: 3.75rem;
    }
  }

  .cards {
    @include space-inside($top: 1rem, $bottom: 1rem);
    .card {
      width: 100%;
      height: 255px;
      position: relative;
      @include space-outside($top: 2rem, $bottom: 2rem);
      overflow: hidden;
      img {
          transform: scale(1.15);
          transition: transform 1s ease;
          width: 100%;
          height: 100%;
      }

      &:hover img {
        transform: scale(1.05);
      }

      &:hover .overlay {
        transform: scaleY(1);
      }
      &:hover .overlay .btn {
        transform: translateX(0);
      }
      &:hover .overlay .btn-git {
        transform: translateX(0);
      }
      .overlay {
        transition: transform .7s ease;
        transform: scaleY(0);
        @include space-inside($top: 1rem, $right: 1rem, $bottom: 1rem, $left: 1rem);
        background-color: rgba($gold-color, 0.9);
        width: 100%;
        height: 100%;
        @include absolute($top: 0, $left: 0, $z: 100);
        box-shadow: inset 0 0 15px $black-color;

        .btn {
          transition: transform .9s .7s cubic-bezier(0.175, 0.885, 0.32, 1.275);
          transform: translateX(500px);
          @include space-outside($top: 1.5rem);

          &-git {
            transition-delay: .9s;
          }
        }



        h4{
          text-transform: uppercase;
          @include space-outside($bottom: 10px);
        }

        @media(min-width: 768px){
          @include flexy($dir: column, $just: center, $align: center);
        }
      }
      @media(min-width: 768px){
        height: 420px;
      }
      @media(min-width: 1024px){
        width: 46%;
        height: 300px;
      }
    }

    @media(min-width: 768px){
      @include flexy($just: space-between);
      flex-wrap: wrap;
    }
  }
}
