#projects {
  @include center-text;

  h2 {
    font-family: 'Cinzel', serif;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
    @include uppercase;
    font-size: 2.45rem;

    @media(min-width: 1024px){
      font-size: 3.75rem;
    }
  }

  .cards {
    padding-top: 1rem;
    padding-bottom: 1rem;

    .card {
      width: 100%;
      position: relative;
      margin-top: 2rem;
      margin-bottom: 2rem;
      overflow: hidden;
      img {
          transform: scale(1.15);
          transition: transform 1s ease;
      }

      &:hover img {
        transform: scale(1.05);
      }

      &:hover .overlay {
        transform: scaleY(1);
      }
      &:hover .overlay .btn {
        transform: translateX(0);
      }
      .overlay {
        transition: transform .7s ease;
        transform: scaleY(0);
        padding: 1rem;
        background-color: rgba($gold-color, 0.7);
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        box-shadow: inset 0 0 15px $black-color;
        z-index: 100;
        .btn {
          transition: transform .7s .7s ease;
          transform: translateX(300px);

          margin-top: 1.5rem;
          padding: 1rem;
          background-color: $black-color;
          color: $white-color;
          @media(min-width: 768px){
            transform: translateX(475px);
          }
        }

        h4{
          text-transform: uppercase;
          margin-bottom: 10px;
        }

        @media(min-width: 768px){
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }
      }
      @media(min-width: 1024px){
        width: 46%;
      }
    }
    @media(min-width: 768px){
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

    }
  }
}
