@mixin fixed($top:null, $right:null, $bottom:null, $left:null) {
  width: 100%;
  position: fixed;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left
}

@mixin space-inside($top:null, $right:null, $bottom:null, $left:null){
  padding-top: $top;
  padding-right: $right;
  padding-bottom: $bottom;
  padding-left: $left;
}

@mixin space-outside($top:null, $right:null, $bottom:null, $left:null){
  margin-top: $top;
  margin-right: $right;
  margin-bottom: $bottom;
  margin-left: $left;
}

@mixin center-content($top: 50%) {
  position: absolute;
  top: $top;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin uppercase {
  text-transform: uppercase;
}
