footer {
  text-align: center;
  font-style: italic;
  color: $brown-color;
  @include fixed($bottom: 0);
  @include space-inside($top: 1rem, $bottom: 1rem);
  background-color: $black-color;

  .f-name {
    font-weight: bold;
    text-transform: uppercase;
  }
}
