footer {
  @include center-text;
  font-style: italic;
  color: $brown-color;
  @include fixed($bottom: 0);
  @include space-inside($top: .5rem, $bottom: .5rem);
  background-color: $black-color;

  .f-name {
    font-weight: bold;
    text-transform: uppercase;
  }
}
