
#home {
  padding-bottom: 0;
  width: 100%;
  height: 100vh;
  color: $white-color;
  position: relative;
  /* add background */
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../images/main.jpg') no-repeat center;
  background-attachment: fixed;
  background-size: cover;
  animation: fadeIn 1.5s ease;
  backface-visibility: hidden;
  .dotted-overlay {
    width: 100%;
    height: 100%;
    /* add dotted overlay */
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAG0lEQVQYV2NkYGD4z8DAwMgABXAGNgGwSgwVAFbmAgXQdISfAAAAAElFTkSuQmCC') repeat;
  }

  .intro-header {
    width: 100%;
    /* center text inside the header */
    @include center-content($top: 50%);
    @include center-text;
    .intro {
      width: 100%;
      padding: 1rem;
      p {
        color: $gold-color;
        font-style: italic;
        font-size: 1.35rem;
        animation: moveInTop 1.3s .3s ease;
        animation-fill-mode: backwards;
        @include space-inside($top: 0.45rem, $right: 0.45rem, $bottom: 0.45rem, $left: 0.45rem);
        @media (min-width: 1024px){
          font-size: 1rem;
        }

        @media (min-width: 2560px){
          font-size: 2rem;
        }
      }
      .first-name, .last-name {
        font-family: 'Cinzel', serif;
        @include uppercase;
        font-size: 2.75rem;

        line-height: 1;
        @media (min-width: 768px){
          font-size: 4.75rem;
        }
        @media (min-width: 1024px){
          font-size: 6.75rem;
        }

        @media (min-width: 2560px){
          font-size: 15.75rem;
        }
      }

      .first-name {
        @include space-inside($top: 0.35rem, $right: 0.35rem, $bottom: 0, $left: 0.35rem);
        animation: moveInLeft 1.3s .9s ease-out;
        animation-fill-mode: backwards;
      }

      .last-name {
        @include space-inside($top: 0, $right: 0.35rem, $bottom: 0.35rem, $left: 0.35rem);
        animation: moveInRight 1.3s .9s ease-out;
        animation-fill-mode: backwards;
      }
      h3 {
        @include uppercase;
        font-weight: 200;
        animation: moveInDown 1.3s .3s ease;
        animation-fill-mode: backwards;
        @include space-inside($top: 0.35rem, $right: 0.35rem, $bottom: 0.35rem, $left: 0.35rem);

        @media (min-width: 2560px){
          font-size: 2.2rem;
        }
      }
    }
    .next {
      .plus {
        @include space-outside($top: 50px);
        font-size: 3rem;

        a {
          @media (min-width: 2560px){
          font-size: 5rem;
        }
      }

      }
    }

    @media (min-width: 768px){
      width: 80%;
    }
  }
}
