// header {
//   position: relative;
//   color: $white-color;
//   @include fixed($top: 0);
//   @include space-inside($bottom: 1rem);
//   text-align: center;
//   width: 100%;
//   height: 100vh;
//   background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../images/main.jpg') no-repeat center;
//   background-size: cover;
//
//   // .dotted-overlay {
//   //   /* add dotted overlay */
//   //   background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAG0lEQVQYV2NkYGD4z8DAwMgABXAGNgGwSgwVAFbmAgXQdISfAAAAAElFTkSuQmCC') repeat;
//   // }
//
//   .intro-header {
//
//     @include center-content($top: 50%);
//     z-index: -1;
//     .intro {
//       p {
//         color: $gold-color;
//         font-style: italic;
//         font-size: 1.35rem;
//       }
//       h1 {
//         font-family: 'Cinzel', serif;
//         color: $white-color;
//         @include uppercase;
//         font-size: 3.25rem;
//         @include space-outside($top: 1.45rem, $bottom: 1.45rem);
//         @media (min-width: 768px) {
//           font-size: 5.25rem;
//         }
//       }
//       h3 {
//         @include uppercase;
//         color: $white-color;
//         font-weight: 200;
//       }
//     }
//
//   }
// }

header {
  width: 100%;
  height: 100vh;
  color: $white-color;
  position: relative;
  /* add background */
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../images/main.jpg') no-repeat center;
  background-attachment: fixed;
  background-size: cover;

  .intro-header {
    width: 100%;
    /* center text inside the header */
    @include center-content($top: 50%);
    @include center-text;
    .intro {
      width: 100%;
      padding: 1rem;
      p {
        color: $gold-color;
        font-style: italic;
        font-size: 1.35rem;
        padding: 0.45rem;
      }
      h1 {
        font-family: 'Cinzel', serif;
        @include uppercase;
        font-size: 2.75rem;
        padding: 0.35rem;
        line-height: 1;
        @media (min-width: 768px){
          font-size: 4.75rem;
        }
        @media (min-width: 1024px){
          font-size: 6.75rem;
        }
      }
      h3 {
        @include uppercase;
        font-weight: 200;
        padding: 0.35rem;
      }
    }
    .next {
      .plus {
        @include space-outside($top: 50px);
        font-size: 3rem;
      }
    }

    @media (min-width: 768px){
      width: 80%;
    }
  }
}
