

main {
  text-align: center;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../images/main.jpg') no-repeat center;
  background-size: cover;

  .container {
    /* add dotted overlay */
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAG0lEQVQYV2NkYGD4z8DAwMgABXAGNgGwSgwVAFbmAgXQdISfAAAAAElFTkSuQmCC') repeat;;

    #content {
      @include center-content($top: 42%);
      .intro {
        p {
          color: $gold-color;
          font-style: italic;
        }
        h1 {
          color: $white-color;
          @include uppercase;
          font-size: 3rem;
        }
        h3 {
          @include uppercase;
          color: $white-color;
          font-weight: 200;
        }
      }
      .next {
        .plus {
          font-size: 3rem;
          color: $white-color;
        }
      }
    }
  }
}
