.navigation {
  width: 100%;
  text-align: right;
  background-color: $black-color;
  @include space-inside($top: 1rem, $right: 1rem, $bottom: 1rem, $left: 1rem);
  color: $white-color;
  position: fixed;
  top:0;
  left: 0;
  z-index: 1000;
  .fas {
    font-size: 2rem;
  }
   .nav-links-l {
      display: flex;
      justify-content: center;
      align-items: center;
      li {
        font-style: italic;
        font-size: 1rem;
        @include space-inside($right: 1rem, $left: 1rem);
      }
   }
  @media (min-width: 1024px){
    @include space-inside($top: 2rem, $right: 2rem, $bottom: 2rem, $left: 2rem);
  }
}

.nav-links-s {
  text-align: left;
  background-color: $black-color;
  width: 65vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  @include space-inside($top: 5.45rem);
  // animate opacity and transform
  opacity: 0;
  transform: translateX(-350px);
  transition: transform .5s linear, opacity .25s linear;

  li {
    font-style: italic;
    @include space-inside($top: 1.45rem, $right: 1.45rem, $bottom: 1.45rem, $left: 1.45rem);
    font-size: 1.25rem;
  }

  @media (min-width: 768px){
    width: 45vw;
  }
}

.active {
  color: $gold-color;
}

.show {
  // show the navigation menu
  opacity: 1;
  transform: translateX(0);
}
