.navigation {
  text-align: right;
  background-color: $black-color;
  .fas {
    font-size: 2rem;
    color: $white-color;
  }
   .nav-links-l {
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      li {
        font-style: italic;
        @include space-inside($right: 1rem, $left: 1rem);
      }
   }
  @media (min-width: 1024px){
    padding: 1rem;
  }
}

.nav-links-s {
  background-color: $black-color;
  width: 50vw;
  height: 100vh;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  @include space-inside($top: 5.45rem);
  // animate opacity and transform
  opacity: 0;
  transform: translateX(-300px);
  transition: transform .5s linear, opacity .25s linear;

  li {
    font-style: italic;
    @include space-inside($top: 1.45rem, $right: 1.45rem, $bottom: 1.45rem, $left: 1.45rem);
    font-size: 1.25rem;
  }
}

.active {
  color: $gold-color;
}

.show {
  // show the navigation menu
  opacity: 1;
  transform: translateX(0);
}
