section {
  width: 100%;
  @include space-inside($top: 3rem, $bottom: 3rem);
}

.image-background {
  width: 100%;
  height: 60vh;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../images/image-between.jpg') no-repeat center;
  background-attachment: fixed;
  background-size: cover;
}
