.btn {
  @include center-text;
  color: $black-color;
  background-color: $white-color;
  @include space-outside($top: 3rem, $right:auto, $left:auto);
  font-style: italic;
  display: block;
  width: 200px;
  padding: 1.5rem;
}
