.social {
  position: absolute;
  right: 15px;
  bottom: 90px;
  z-index: 100;
  @include flexy($dir:column);

  .fb {
    color: $fb-color;
    &:hover {
      color: darken($fb-color, 15%);
    }
  }

  .lidi {
    color: $linkedin-color;
    &:hover {
      color: darken($linkedin-color, 15%);
    }
  }

  .git {
    color: $git-color;
    &:hover {
      color: darken($git-color, 15%);
    }
  }

.fab {
  font-size: 1.4rem;
  @include space-outside($top:0.4rem, $bottom:0.4rem);

    @media(min-width: 768px){
      font-size: 2rem;
      @include space-outside($top:0.7rem, $bottom:0.7rem);
    }
  }
}

.fa-github {
  margin-top: 10px;
  font-size: 1.4rem;
  color: $green-color;

  @media(min-width: 768px){
    font-size: 2rem;
  }
}
