* {
  @include space-outside($top: 0, $bottom: 0, $right: 0, $left: 0);
  @include space-inside($top: 0, $bottom: 0, $right: 0, $left: 0);
  box-sizing: border-box;
}

body {
  background-color: $black-color;
  font-size: 1rem;
  font-family: 'Lato', sans-serif;
  line-height: 1.5;
  letter-spacing: 1px;
  @media (min-width: 768px) {
    font-size: 1.25rem;
  }
  @media (min-width: 1024px) {
    font-size: 1rem;
  }

  @media (min-width: 2560px) {
    font-size: 1.8rem;
  }
}

a {
  transition: color .3s ease-out;
  text-decoration: none;
  color: $white-color;

  &:hover {
    color: $gold-color;
  }

  @media (min-width: 2560px) {
    font-size: 1.8rem;
  }
}

ul {
  list-style: none;
}

h1 {
  @include space-outside($top: 0, $bottom: 0, $right: 0, $left: 0);
}

img {
  width: 100%;
}

hr {
  @include space-outside($top: 5px, $bottom: 15px);
  background-color: $white-color;
  @media(min-width: 768px){
    width: 55%;
  }
}
